html, body, #mapid {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
}
.leaflet-div-icon {
  border: 3px solid black;
  background-color: white;
  width: 20px;
  height: 20px;
  border-radius: 10px;
}
.ll-point-label {
  font-size: 125%;
  text-align: center;
  text-shadow: 1px 1px 0 #f2f2f2, -1px 1px 0 #f2f2f2, 1px -1px 0 #f2f2f2,
    -1px -1px 0 #f2f2f2, 0px 1px 0 #f2f2f2, 0px -1px 0 #f2f2f2, -1px 0px 0 #f2f2f2,
    1px 0px 0 #f2f2f2, 2px 2px 0 #f2f2f2, -2px 2px 0 #f2f2f2, 2px -2px 0 #f2f2f2,
    -2px -2px 0 #f2f2f2, 0px 2px 0 #f2f2f2, 0px -2px 0 #f2f2f2, -2px 0px 0 #f2f2f2,
    2px 0px 0 #f2f2f2, 1px 2px 0 #f2f2f2, -1px 2px 0 #f2f2f2,
    1px -2px 0 #f2f2f2, -1px -2px 0 #f2f2f2, 2px 1px 0 #f2f2f2,
    -2px 1px 0 #f2f2f2, 2px -1px 0 #f2f2f2, -2px -1px 0 #f2f2f2;
  color: black;
  position: relative;
  width: 200px;
  left: -95px;
}
.ll-line-label {
  font-size: 125%;
  text-align: center;
  text-shadow: 1px 1px 0 #f2f2f2, -1px 1px 0 #f2f2f2, 1px -1px 0 #f2f2f2,
    -1px -1px 0 #f2f2f2, 0px 1px 0 #f2f2f2, 0px -1px 0 #f2f2f2, -1px 0px 0 #f2f2f2,
    1px 0px 0 #f2f2f2, 2px 2px 0 #f2f2f2, -2px 2px 0 #f2f2f2, 2px -2px 0 #f2f2f2,
    -2px -2px 0 #f2f2f2, 0px 2px 0 #f2f2f2, 0px -2px 0 #f2f2f2, -2px 0px 0 #f2f2f2,
    2px 0px 0 #f2f2f2, 1px 2px 0 #f2f2f2, -1px 2px 0 #f2f2f2,
    1px -2px 0 #f2f2f2, -1px -2px 0 #f2f2f2, 2px 1px 0 #f2f2f2,
    -2px 1px 0 #f2f2f2, 2px -1px 0 #f2f2f2, -2px -1px 0 #f2f2f2;
  color: black;
}
